.animate-ayo::before {
    animation: ayo 1.3s ease-in-out infinite;
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-gradient-from: transparent var(--tw-gradient-from-position);
    --tw-gradient-stops: var(--tw-gradient-from),
      rgba(255, 255, 255, 0.5) var(--tw-gradient-via-position),
      var(--tw-gradient-to);
    content: var(--tw-content);
    --tw-gradient-to: transparent var(--tw-gradient-to-position);

    width: 50%;
    height: 100%;
    position: absolute;
  }
  @keyframes ayo {
    0% {
      transform: translateX(-135%);
    }
    100% {
      transform: translateX(195%);
    }
  }