---
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
const { userData }: { userData: any } = Astro.locals;
---

<Layout title="Lyric Kindle">
  <p>Private Route</p>
  <p>Hi, {userData.info?.full_name}</p>
</Layout>
