---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Button } from "@/components/ui/button";

import "@/styles/globals.css";
---

<Layout title="Lyric Kindle">
  <main>
    <h1>ayo</h1>
    <Button>Hello World</Button>
  </main>
</Layout>
