---
import Layout from "../layouts/Layout.astro";

import "@/styles/globals.css";
import Form from "@/components/Form";
import Historial from "@/components/Historial.astro";
---

<Layout title="Lyric Kindle">
  <main
    class="mx-auto flex min-h-screen max-w-5xl flex-col items-stretch pb-28 px-4 sm:px-6"
  >
    <div
      class="flex flex-col items-center justify-center py-[15vh] sm:py-[20vh]"
    >
      <h1
        class="mb-3 text-4xl font-medium text-black duration-1000 ease-in-out animate-in fade-in slide-in-from-bottom-3"
      >
        Generate PDF to your kindle
      </h1><p
        class="mb-12 text-base text-gray-500 duration-1200 ease-in-out animate-in fade-in slide-in-from-bottom-4"
      >
        Enjoy music lyrics and expand knowledge
      </p>

      <Form client:load />
    </div>

    <Historial />
  </main>
</Layout>
