---
import { Input } from "./ui/input";
---

<div
  class="duration-1200 ease-in-out animate-in fade-in slide-in-from-bottom-4"
>
  <div
    class="mb-4 flex flex-col flex-nowrap items-center justify-between gap-2 sm:flex-row sm:justify-center"
  >
    <h2 class="w-full text-left text-2xl font-semibold">Recent pdf</h2><div
      class="relative w-full rounded-lg sm:max-w-[260px]"
    >
      <Input placeholder="Search..." type="text" />
    </div>
  </div>
  <ul>
    <li>hola</li>
    <li>hola2</li>
  </ul>
</div>
