---
import { Input } from "./ui/input";
---

<div
  class="duration-1200 ease-in-out animate-in fade-in slide-in-from-bottom-4"
>
  <div
    class="mb-4 flex flex-col flex-nowrap items-center justify-between gap-2 sm:flex-row sm:justify-center"
  >
    <h2 class="w-full text-left text-2xl font-semibold">Recent pdf</h2><div
      class="relative w-full rounded-lg sm:max-w-[260px]"
    >
      <Input placeholder="Search..." type="text" />
    </div>
  </div>
  <ul
    class="grid w-full auto-rows-fr grid-cols-3 justify-items-stretch gap-4 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6"
  >
    <li
      class="group relative isolate flex select-none flex-col flex-nowrap items-center gap-1.5 overflow-hidden"
    >
      <img
        alt="ai generated emoji"
        loading="lazy"
        width="768"
        height="768"
        decoding="async"
        data-nimg="1"
        class="aspect-square w-full"
        src="https://aaah0mnbncqtinas.public.blob.vercel-storage.com/TR8rvUKXr5-no-background-73jDXghtn8dsHdWik1rVH1JUFyj9Zx.png"
        style="color: transparent;"
      /><span class="sr-only">Red Supreme bag</span><a
        class="absolute inset-0 rounded-xl bg-black/[0.05] opacity-0 transition-opacity duration-200 ease-out hover:opacity-100 focus:opacity-100"
        href="/p/TR8rvUKXr5"></a><div
        aria-hidden="true"
        class="absolute inset-0 aspect-square overflow-hidden rounded-xl bg-white transition-opacity duration-200 ease-out z-10 opacity-100"
      >
        <div class="skeleton h-full w-full bg-gray-200 animate-ayo relative">
        </div>
      </div>
    </li>
    <li
      class="group relative isolate flex select-none flex-col flex-nowrap items-center gap-1.5 overflow-hidden"
    >
      <img
        alt="ai generated emoji"
        loading="lazy"
        width="768"
        height="768"
        decoding="async"
        data-nimg="1"
        class="aspect-square w-full"
        src="https://aaah0mnbncqtinas.public.blob.vercel-storage.com/TR8rvUKXr5-no-background-73jDXghtn8dsHdWik1rVH1JUFyj9Zx.png"
        style="color: transparent;"
      /><span class="sr-only">Red Supreme bag</span><a
        class="absolute inset-0 rounded-xl bg-black/[0.05] opacity-0 transition-opacity duration-200 ease-out hover:opacity-100 focus:opacity-100"
        href="/p/TR8rvUKXr5"></a><div
        aria-hidden="true"
        class="absolute inset-0 aspect-square overflow-hidden rounded-xl bg-white transition-opacity duration-200 ease-out z-10 opacity-100"
      >
        <div class="skeleton h-full w-full bg-gray-200 animate-ayo relative">
        </div>
      </div>
    </li>
    <li
      class="group relative isolate flex select-none flex-col flex-nowrap items-center gap-1.5 overflow-hidden"
    >
      <img
        alt="ai generated emoji"
        loading="lazy"
        width="768"
        height="768"
        decoding="async"
        data-nimg="1"
        class="aspect-square w-full"
        src="https://aaah0mnbncqtinas.public.blob.vercel-storage.com/TR8rvUKXr5-no-background-73jDXghtn8dsHdWik1rVH1JUFyj9Zx.png"
        style="color: transparent;"
      /><span class="sr-only">Red Supreme bag</span><a
        class="absolute inset-0 rounded-xl bg-black/[0.05] opacity-0 transition-opacity duration-200 ease-out hover:opacity-100 focus:opacity-100"
        href="/p/TR8rvUKXr5"></a><div
        aria-hidden="true"
        class="absolute inset-0 aspect-square overflow-hidden rounded-xl bg-white transition-opacity duration-200 ease-out z-10 opacity-100"
      >
        <div class="skeleton h-full w-full bg-gray-200 animate-ayo relative">
        </div>
      </div>
    </li>
    <li
      class="group relative isolate flex select-none flex-col flex-nowrap items-center gap-1.5 overflow-hidden"
    >
      <img
        alt="ai generated emoji"
        loading="lazy"
        width="768"
        height="768"
        decoding="async"
        data-nimg="1"
        class="aspect-square w-full"
        src="https://aaah0mnbncqtinas.public.blob.vercel-storage.com/TR8rvUKXr5-no-background-73jDXghtn8dsHdWik1rVH1JUFyj9Zx.png"
        style="color: transparent;"
      /><span class="sr-only">Red Supreme bag</span><a
        class="absolute inset-0 rounded-xl bg-black/[0.05] opacity-0 transition-opacity duration-200 ease-out hover:opacity-100 focus:opacity-100"
        href="/p/TR8rvUKXr5"></a><div
        aria-hidden="true"
        class="absolute inset-0 aspect-square overflow-hidden rounded-xl bg-white transition-opacity duration-200 ease-out z-10 opacity-100"
      >
        <div class="skeleton h-full w-full bg-gray-200 animate-ayo relative">
        </div>
      </div>
    </li>
    <li
      class="group relative isolate flex select-none flex-col flex-nowrap items-center gap-1.5 overflow-hidden"
    >
      <img
        alt="ai generated emoji"
        loading="lazy"
        width="768"
        height="768"
        decoding="async"
        data-nimg="1"
        class="aspect-square w-full"
        src="https://aaah0mnbncqtinas.public.blob.vercel-storage.com/TR8rvUKXr5-no-background-73jDXghtn8dsHdWik1rVH1JUFyj9Zx.png"
        style="color: transparent;"
      /><span class="sr-only">Red Supreme bag</span><a
        class="absolute inset-0 rounded-xl bg-black/[0.05] opacity-0 transition-opacity duration-200 ease-out hover:opacity-100 focus:opacity-100"
        href="/p/TR8rvUKXr5"></a><div
        aria-hidden="true"
        class="absolute inset-0 aspect-square overflow-hidden rounded-xl bg-white transition-opacity duration-200 ease-out z-10 opacity-100"
      >
        <div class="skeleton h-full w-full bg-gray-200 animate-ayo relative">
        </div>
      </div>
    </li>
    <li
      class="group relative isolate flex select-none flex-col flex-nowrap items-center gap-1.5 overflow-hidden"
    >
      <img
        alt="ai generated emoji"
        loading="lazy"
        width="768"
        height="768"
        decoding="async"
        data-nimg="1"
        class="aspect-square w-full"
        src="https://aaah0mnbncqtinas.public.blob.vercel-storage.com/TR8rvUKXr5-no-background-73jDXghtn8dsHdWik1rVH1JUFyj9Zx.png"
        style="color: transparent;"
      /><span class="sr-only">Red Supreme bag</span><a
        class="absolute inset-0 rounded-xl bg-black/[0.05] opacity-0 transition-opacity duration-200 ease-out hover:opacity-100 focus:opacity-100"
        href="/p/TR8rvUKXr5"></a><div
        aria-hidden="true"
        class="absolute inset-0 aspect-square overflow-hidden rounded-xl bg-white transition-opacity duration-200 ease-out z-10 opacity-100"
      >
        <div class="skeleton h-full w-full bg-gray-200 animate-ayo relative">
        </div>
      </div>
    </li>
    <li
      class="group relative isolate flex select-none flex-col flex-nowrap items-center gap-1.5 overflow-hidden"
    >
      <img
        alt="ai generated emoji"
        loading="lazy"
        width="768"
        height="768"
        decoding="async"
        data-nimg="1"
        class="aspect-square w-full"
        src="https://aaah0mnbncqtinas.public.blob.vercel-storage.com/TR8rvUKXr5-no-background-73jDXghtn8dsHdWik1rVH1JUFyj9Zx.png"
        style="color: transparent;"
      /><span class="sr-only">Red Supreme bag</span><a
        class="absolute inset-0 rounded-xl bg-black/[0.05] opacity-0 transition-opacity duration-200 ease-out hover:opacity-100 focus:opacity-100"
        href="/p/TR8rvUKXr5"></a><div
        aria-hidden="true"
        class="absolute inset-0 aspect-square overflow-hidden rounded-xl bg-white transition-opacity duration-200 ease-out z-10 opacity-100"
      >
        <div class="skeleton h-full w-full bg-gray-200 animate-ayo relative">
        </div>
      </div>
    </li>
    <li
      class="group relative isolate flex select-none flex-col flex-nowrap items-center gap-1.5 overflow-hidden"
    >
      <img
        alt="ai generated emoji"
        loading="lazy"
        width="768"
        height="768"
        decoding="async"
        data-nimg="1"
        class="aspect-square w-full"
        src="https://aaah0mnbncqtinas.public.blob.vercel-storage.com/TR8rvUKXr5-no-background-73jDXghtn8dsHdWik1rVH1JUFyj9Zx.png"
        style="color: transparent;"
      /><span class="sr-only">Red Supreme bag</span><a
        class="absolute inset-0 rounded-xl bg-black/[0.05] opacity-0 transition-opacity duration-200 ease-out hover:opacity-100 focus:opacity-100"
        href="/p/TR8rvUKXr5"></a><div
        aria-hidden="true"
        class="absolute inset-0 aspect-square overflow-hidden rounded-xl bg-white transition-opacity duration-200 ease-out z-10 opacity-100"
      >
        <div class="skeleton h-full w-full bg-gray-200 animate-ayo relative">
        </div>
      </div>
    </li>
  </ul>
</div>
<style>
  .animate-ayo::before {
    animation: ayo 1.3s ease-in-out infinite;
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-gradient-from: transparent var(--tw-gradient-from-position);
    --tw-gradient-stops: var(--tw-gradient-from),
      rgba(255, 255, 255, 0.5) var(--tw-gradient-via-position),
      var(--tw-gradient-to);
    content: var(--tw-content);
    --tw-gradient-to: transparent var(--tw-gradient-to-position);

    width: 50%;
    height: 100%;
    position: absolute;
  }
  @keyframes ayo {
    0% {
      transform: translateX(-135%);
    }
    100% {
      transform: translateX(195%);
    }
  }
</style>
