---
import HeaderDropdown from "./HeaderDropdown";

const { userData } = Astro.locals;
---

{
  !userData && (
    <HeaderDropdown client:load logged={false}>
      <a
        href=""
        class="group relative inline-flex flex-shrink-0 items-center justify-center truncate transition duration-200 ease-out disabled:pointer-events-auto disabled:opacity-50 bg-white shadow ring-1 ring-gray-200 hover:bg-gray-50 px-2.5 sm:px-2 py-2 h-9 sm:h-8 sm:text-sm rounded-lg font-medium input-focus-ring select-none"
      >
        <span class="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-user shrink-0"
          >
            <>
              <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
              <circle cx="12" cy="7" r="4" />
            </>
          </svg>
        </span>
      </a>
    </HeaderDropdown>
  )
}
{
  userData && (
    <HeaderDropdown client:load logged={true}>
      <a class="group relative inline-flex flex-shrink-0 items-center justify-center truncate transition duration-200 ease-out disabled:pointer-events-auto disabled:opacity-50 bg-white shadow ring-1 ring-gray-200 hover:bg-gray-50 h-9 sm:h-8 sm:text-sm rounded-lg font-medium input-focus-ring select-none p-1 sm:p-1">
        <span class="">
          <span class="relative flex shrink-0 overflow-hidden rounded-md h-7 w-7 sm:h-6 sm:w-6">
            <img
              class="aspect-square h-full w-full"
              alt="Profile Picture"
              src={userData?.info.avatar_url}
            />
          </span>
        </span>
      </a>
    </HeaderDropdown>
  )
}
